*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    color: #FFFFFF;
    background-color: #0020F4;
    width: 1920px;
    height: 308px;

}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}
a h1{
    margin-left: 200px;
    padding-top: 70px;
    text-decoration: none;
}
header{
    position: relative;
}
div{
    margin-left: 240px;
}
div .image1{
    position: absolute;
    top: 180px;
    left: 190px;
}
div .image2{
    position: absolute;
    top: 90px;
    left: 650px;
    
}
div .image3{
    position: absolute;
    top: 180px;;
    left: 64%;
}